
!!! 5
html
	head
		block head
			meta(charset="utf-8")
			meta(name="viewport",content="width=device-width, initial-scale=1.0")
			title School Navigation
			link(href="/css/bootstrap.css",type="text/css",rel="stylesheet")
			link(href="/css/style.css",type="text/css",rel="stylesheet")
			link(href="/css/bootstrap-responsive.css",type="text/css",rel="stylesheet")

	body
		block body
			div.navbar.navbar-fixed-top
				div.navbar-inner
					div.container
						a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.brand(href="/") School Navigation
			block containerdiv
				div.container.maincontainer
					block container
						h1 Hello world!
			block footer
				.container
					.copyright Copyright here

			block scripts
				script(src="/js/jquery.min.js")
				script(src="/js/bootstrap.js")
