extends layout

block container
	div#svgcontainer !{svg}
	div#canvascontainer
		canvas#canvas(style="pointer-events:none;")

block append scripts
	script(src="/js/spatial_query.js")
	script(src="/js/underscore.min.js")
	script(src="/js/box2d.min.js")
	script(src="/svgstep2.js")